{% extends "layout.html" %}

{% block title %}
    Retreive forgotten password
{% endblock %}

{% block headerthumbnail %}
    ../static/images/key.png
{% endblock %}

{% block header %}
    Retreive forgotten password
{% endblock %}

{% block body %}
<form action="/forgot" method="POST" class="loginform">
    <div class="container">
        <label for="email"><b>Your Email</b></label>
        <input type="email" placeholder="Enter your email address" name="email" id="email" required> 
    </div>

    <div class="container">
        <p></p>
        <button type="submit" name="submit_b" value="submit_b">Send</button>
    </div>
</form>
{% endblock %}