<!DOCTYPE html>
<html lang="en">
    <!-- Contains meta data for the web page -->
    <head>
        <!-- Page tab icon and title -->
        <link rel="icon" href="../static/images/JustaLogo.png">
        <title>Just a Chat | {% block title %}{% endblock %}</title> 

        <!-- Meta data, sets charset standard, authors, viewport, etc.-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta name="author" content="Studiegruppe 5 - ITT 3A e2021">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/light-theme.css') }}" id="stylesheet_toggle">
    
        <!-- Additional scripts -->
        <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script> 

    </head>

    <body>
        <a href="/logged_in"></a>
        <!-- Navigation bar -->
        <nav>
            <!-- Header, contains user control buttons -->
            <header>
                <div class="container">
                    {% if session['is_logged_in'] == False %}
                        <a href="/login" class="loginbtn">Log In / Register</a>
                    {% else %}
                        <div class="wrapper">
                            <div class="dropdown">
                                <a href="/profile">
                                    <img src="../static/images/user.png" class="thumbnail">
                                </a>

                                <div class="dropdown-content">
                                    <form action=""> <!-- missing action -->
                                        <a href="/settings">Settings</a>
                                        <button type="submit" name="logout" id="logout" value="logout">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper spacing">
                            <!-- Dropdown friendlist? -->
                            <!--
                            <a href="">
                                <img src="../static/images/users.png" class="thumbnail">
                            </a>
                            -->

                            <!-- Home -->
                            <a href="/">
                                <img src="../static/images/home.png" class="thumbnail">
                            </a>

                            <!-- Search? -->
                            <!--
                            <a href="">
                                <img src="../static/images/search.png" class="thumbnail">
                            </a>
                            -->

                            <!-- Create new chatroom? -->
                            <!--
                            <a href="">
                                <img src="../static/images/create.png" class="thumbnail">
                            </a>
                            -->
                        </div>
                    {% endif %}
                </div>
            </header>

            <!-- Navigation items, contains chatrooms and private messages -->
            <div class="navitems">
                <div class="wrapper">
                    {% if session['is_logged_in'] == False %}
                    {% else %}
                        <form action="/behindthescenes" method="post" class="discussionlist vertical">
                            {% for a in range(session['cRoomNames']|length) %}
                                <button type="submit" name="channelbutton" id="channelbutton" value="{{ session['cRoomNames'][a] }}">{{ session['cRoomNames'][a] }}</button>
                            {% endfor %}
                        </form>   
                    {% endif %}
                </div>
            </div>

            <!-- Footer, contains website logo -->
            <footer>
                <p class="extrapadding">Am I logged in: {{ session['is_logged_in'] }}</p>
                <div class="container extrapadding">
                    <img src="../static/images/JustaChat_Alt_Lime.png" height="50">
                </div>
            </footer>
        </nav>

        <!-- Main section of the page, contains page content -->
        <div class="main">
            <!-- Header, contains page header, chatroom buttons and darkmode switch -->
            <header>
                <div class="container">
                    <!-- Header title and icon -->
                    <div class="wrapper spacing">
                        <img src="{% block headerthumbnail %}{% endblock %}" class="icon">
                        <h1>{% block header %}{% endblock %}</h1>
                    </div>

                    <!-- Chatroom buttons -->
                    <div class="wrapper spacing">
                        <!-- Room information? Should dropdown on hover -->
                        <!--
                        <a href="">
                            <img src="../static/images/info.png" class="thumbnail">
                        </a>
                        -->

                        <!-- Chat members? Should dropdown on hover, open chat with member on click -->
                        <!--
                        <a href="">
                            <img src="../static/images/users.png" class="thumbnail">
                        </a>
                        -->

                        <!-- Search in messages? -->
                        <!--
                        <a href="">
                            <img src="../static/images/search.png" class="thumbnail">
                        </a>
                        -->

                        <!-- Options -->
                        <!--
                        <a href="">
                            <img src="../static/images/settings.png" class="thumbnail">
                        </a>
                        -->

                        <!-- Darkmode switch, ID used for darkmode.js -->
                        <label class="switch" id="darkmode_toggle">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </header>

            <!-- Container for main page content -->
            <div class="container">
                <div class="content">
                    {% block body %}{% endblock %}
                    <!-- Use include for automating multiple chatrooms -->
                </div>
            </div>

            <footer class="boxshadow">
                <div class="container extrapadding">
                    {% block bodyfooter %}{% endblock %}
                </div>
            </footer>
        </div>
    </body>
</html>