{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block headerthumbnail %}
    ../static/images/home.png
{% endblock %}

{% block header %}  
    Login Page
{% endblock %}

{% block body %}
    <!-- Submit form for logging into website -->
    <form action="/login" method="post" class="loginform">
        <!-- Username -->
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" id="username" placeholder="Enter Username" required> 
        </div>

        <!-- Password -->
        <div class="container">
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
        </div>

        <div class="container">
            <!-- Submit button -->
            <button type="submit">Login</button>

            <!-- Remember me -->
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        
        <div class="container">
            <span class="psw">Forgot <a href="/forgot">password?</a></span>
        </div>

        <div class="container">
            <span class="psw">Don't have an account yet? <a href="/signup">Sign up here</a></span>
        </div>
    </form>
{% endblock %}