{% extends "layout.html" %}

<!-- Tab Title: [ Just a Chat | title ] -->
{% block title %}
    new page
{% endblock %}

<!-- Image icon for main content header -->
{% block headerthumbnail %}
    ../static/images/users.png
{% endblock %}

<!-- Header title for main content -->
{% block header %}
    Placeholder discussion
{% endblock %}

<!-- Main page content -->
{% block body %}
    <div>
        {% for key, value in session["dict_key"].items() %}
            {% if session['username'] == key %}
                <p style="text-align: right;">{{value}}: <b>{{key}}</b></p>
            {% else %}
                <p style="text-align: right;"><b>{{key}}</b>: {{value}}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}