{% extends "layout.html" %}

<!-- Tab Title: [ Just a Chat | title ] -->
{% block title %}
    Room name
{% endblock %}

<!-- Image icon for main content header -->
{% block headerthumbnail %}
    ../static/images/users.png
{% endblock %}

<!-- Header title for main content -->
{% block header %}
    Room name
{% endblock %}

<!-- Main page content -->
{% block body %}
    <fieldset class="messagehistory">
        {% if session['is_logged_in'] == True %}
            {% for a in range(session["currentChatMsg"] | length) %}
                {% if session['username'] == session["currentChatNames"][a] %}
                    <p class="you">{{ session["currentChatMsg"][a] }}: <b>{{ session["currentChatNames"][a] }}</b></p>
                {% else %}
                    <p class="them"><b>{{ session["currentChatNames"][a] }}</b>: {{ session["currentChatMsg"][a] }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </fieldset>
{% endblock %}

<!-- Main page footer -->
{% block bodyfooter %}
    <div class="messagebox wide">
        <form action="">
            <div class="container spacing">
                <input type="text" class="wide">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}