{% extends "layout.html" %}

{% block title %}
    new page
{% endblock %}

{% block headerthumbnail %}
    ../static/images/home.png
{% endblock %}

{% block header %}
    Sign up to Just a chat
{% endblock %}

{% block body %}
<form action="/signup" method="post">
        
    <div class="container">
        
        <label for="uname"><b>Desired username</b></label>
        <input type="text" placeholder="Enter desired username" name="uname" required> 
    </div>
    <div class="container">
        
        <label for="email"><b>Your Email</b></label>
        <input type="text" placeholder="Enter your email" name="email" required> 
    </div>
    <div>
         Your password must have at least have: 8 characters, one small letter, one big letter, a number, and special sign
    </div>
    <div class ="container">
        <label for="psw"><b>Type your desired password </b></label>
        <input type="password" placeholder="Enter your desired Password" name="psw" required>
    </div>
    <div class ="container">
        <label for="psw"><b>Repeat the desired password</b></label>
        <input type="password" placeholder="Repeat your desired assword" name="psw" required>
    </div>
    <div class="container">
        <button type="submit">signup</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
    </div>
</form>
{% endblock %}